@tailwind base;
@tailwind components;
@tailwind utilities;



#welcome, #coming-soon {
  background-image: url('/images/line.png'), url('/images/square-2.svg');
  background-position: 0vw -1vw, 87vw 75vh;
  background-size: 20vw, 20vw;
  background-repeat: no-repeat;
}

#calendar {
  background-image: url('/images/square-2.svg'), url('/images/circle-2.svg');
  background-position: 87vw -8vw, -15vw 35vw;
  background-size: 20vw, 25vw;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  #welcome, #coming-soon {
    background-size: 20vw, 25vw;
    background-position: 0vw -1vw, 84vw 75vh;
  }
  #calendar {
    background-size: 25vw, 35vw;
    background-position: 84vw -8vw, -15vw 70vh;
  }
}

@media screen and (max-width: 980px) {
  #welcome, #coming-soon {
    background-size: 20vw, 25vw;
    background-position: 0vw -1vw, 84vw 80vh;
  }
  #calendar {
    background-size: 25vw, 35vw;
    background-position: 84vw -8vw, -15vw 75vh;
  }
}

@media screen and (max-width: 750px) {
  #welcome, #coming-soon {
    background-size: 20vw, 28vw;
    background-position: 0vw -1vw, 82vw 82vh;
  }
  #calendar {
    background-size: 28vw, 40vw;
    background-position: 82vw -8vw, -15vw 80vh;
  }
}
 
@media screen and (max-width: 640px) {
  #welcome, #coming-soon {
    background-size: 25vw, 30vw;
    background-position: 0vw -1vw, 80vw 82vh;
  }
  #calendar {
    background-size: 30vw, 40vw;
    background-position: 80vw -8vw, -15vw 80vh;
  }
}

@media screen and (max-width: 540px) {
  #welcome, #coming-soon {
    background-size: 30vw, 35vw;
    background-position: 0vw -1vw, 75vw 82vh;
  }
  #calendar {
    background-size: 35vw, 40vw;
    background-position: 75vw -8vw, -15vw 80vh;
  }
}

@media screen and (max-width: 500px) {
  #welcome, #coming-soon {
    background-size: 35vw, 40vw;
    background-position: 0vw -1vw, 75vw 82vh;
  }
  #calendar {
    background-size: 40vw, 50vw;
    background-position: 75vw -8vw, -15vw 80vh;
  }
}

@media screen and (max-width: 440px) {
  #welcome, #coming-soon {
    background-size: 35vw, 45vw;
    background-position: 0vw -1vw, 70vw 82vh;
  }
  #calendar {
    background-size: 45vw, 55vw;
    background-position: 70vw -15vw, -20vw 80vh;
  }
}

@media screen and (max-width: 380px) {
  #welcome, #coming-soon {
    background-size: 35vw, 55vw;
    background-position: 0vw -1vw, 65vw 82vh;
  }
  #calendar {
    background-size: 55vw, 60vw;
    background-position: 65vw -25vw, -25vw 80vh;
  }
}

@media screen and (max-width: 320px) {
  #welcome, #coming-soon {
    background-size: 40vw, 60vw;
    background-position: 0vw -1vw, 65vw 82vh;
  }
  #calendar {
    background-size: 60vw, 60vw;
    background-position: 65vw -25vw, -25vw 85vh;
  }
}

@media screen and (max-width: 295px) {
  #welcome, #coming-soon {
    background-size: 40vw, 65vw;
    background-position: 0vw -1vw, 65vw 82vh;
  }
  #calendar {
    background-size: 65vw, 60vw;
    background-position: 65vw -30vw, -25vw 85vh;
  }
}


section {
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
}

.parallelogram {
	transform: skew(20deg);
}

.stripes {
  background-image: linear-gradient(180deg, #ffffff33 0.5vh, #99999900 0.5vh, #99999900 10vh, #ffffff33 10vh, #ffffff33 10vh, #99999900 10.5vh, #99999900 80vh);
  background-size: 19vh 19vh;
}


@media screen and (max-width: 1024px) {
  .stripes {
    background-position: center 20%;
    background-clip: content-box, border-box;
  }
}
.x-mandatory {
  scroll-snap-type: x mandatory;
}

.y-mandatory {
  scroll-snap-type: y mandatory;
}

.both-mandatory {
  scroll-snap-type: both mandatory;
}

.x-proximity {
  scroll-snap-type: x proximity;
}

.y-proximity {
  scroll-snap-type: y proximity;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  rgb(17 24 39)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(10, 14, 22)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 38, 63)
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}